* text=auto

*.h text
*.hxx text
*.hpp text
*.tpp text
*.cpp text
*.C text
*.c text
*.for text
*.f90 text
*.py text
*.pyx text
*.pxd text
*.pxi text
*.md text
*.html text
Makefile text
*.mk text
*.txt text
*.tex text
*.frag text
*.vert text
*.geom text
*.sh text
*.csh text
*.rst text
*.scons text
*.bat text
merge.ar text
LICENCE text
install text
valid text
kpython text
cassiopee text
kcgnsview text
sh_Cassiopee* text
env_Cassiopee* text

*.png binary
*.jpeg binary
*.jpg binary
*.gif binary