.vscode
build
__pycache__
*.egg-info
core.*
setup.cfg
Dist
docs/doc/*.pdf
docs/Download
Cassiopee/KCore/merge.l
Cassiopee/XCore/merge.l
Cassiopee/Modeler/merge.l
Cassiopee/KCore/buildInfo.py
Cassiopee/KCore/installPath.py
Cassiopee/KCore/installBaseUser.py
Cassiopee/Envs/sh_Cassiopee_user
Cassiopee/KCore/doc/source/*.rst
Cassiopee/CPlot/apps/Output
ValidData*
Data*
*~
*.g
*.grid
*.h5
*.pyc
*.plt
*.tp
*.mesh
*.v3d
*.dat
*.x
*.aux
*.log
*.dvi
*.ps
*.toc
*.lof
*.out
*.mod
*.bbl
*.blg
*.gbin
*.qbin
*.fbin
*.dat
*.svg
*.df3
*.fig
*.wav
*.cgns
*.png
*.adf
*.hdf
*.su2
*.stl
*.pickle
*.pov
*.obj
*.d
*.foam/
out_foam/
chm000*
out.step
*.swp
*.db
tools/MigrationSVN
