.vscode
build
__pycache__
*.egg-info
core.*
setup.cfg
Dist
Cassiopee/web/Download
Cassiopee/KCore/merge.l
Cassiopee/XCore/merge.l
Cassiopee/KCore/buildInfo.py
Cassiopee/KCore/installPath.py

ValidData*
Data*
*~
*.g
*.pyc
*.plt
*.tp
*.mesh
*.v3d
*.dat
*.x
*.aux
*.log
*.dvi
*.ps
*.toc
*.lof
*.out
*.mod
*.bbl
*.blg
*.gbin
*.qbin
*.fbin
*.dat
*.svg
*.df3
*.fig
*.wav
*.cgns
*.png
*.adf
*.hdf
*.su2
*.stl
*.pickle
*.pov
*.obj
*.d
out_foam/
chm000*

tools/MigrationSVN
web/doc
